* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
  }

  
  body{
    background-image: url("Img/bakgrund3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .brand{
    font-family: 'Merienda';
    line-height: 1;
    text-shadow: 0 0 5px white;
    font-size: 3em;
    padding:.5em;
    text-align: center;
  }

p{
  color:rgb(70, 70, 70);
}

.rounder{
  border-radius: 20px;
}


  /*--------------------------------------------------------*/


  /*  Header  */
  header{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h1{
    font-family: 'Merienda';
    font-size:60px;
  }
  /*  /Header  */


  /*--------------------------------------------------------*/


  /*  Search area */

  .Search_header{
    display: flex;
    flex-direction: column;
  
  }

  .Search_header h2 {
   display: flex;
   justify-content: center;
   font-family: 'Merienda';
  
  }
  
  .Search{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .searchboxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  #inputValue{
    width: 400px;
    border: 3px solid rgb(41, 41, 41);
    background:rgba(255, 255, 255, 0.637);
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  #button{

    width: 50px;
    height: 50px;
    display: flex;
    margin-top: 5px;
  }

  .items{
    position: relative;
    font-weight: 800;
    font-family: Merienda;
    margin:0;
    padding:0.5rem 0;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 0.3em #444;
  }

  .flexDirection{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .filterList{
    padding: 0 !important;
    width: initial;
  }

  .descriptionWidth{
    max-width: 60ch !important;
  }

  ul{
    padding: 0 !important;
    text-align: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 5px black;
    display: none;
    background-color: rgb(255, 255, 255);
  }

  .filterList li input{
    display: block;
    margin: auto;
  }

  .filterList li{
    padding: .5em;
    margin:0 !important;
    display: inline-block;
  }

    /*Pre renders hover shadow to increase performance*/
  .items::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .items:hover::after{
    cursor: pointer;
    opacity: 1;
  }

  /* /Search area */


  /*--------------------------------------------------------*/


  /* Search results  */

  .theMain_forRecept{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 50px;
    padding:1rem;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width:80%;

  }
  .theMain_forRecept2{
    background-color: transparent;
    width:100%;
  }


  .recipe{  
    border-bottom:1px solid black;
  }

  .recipeImg{
    max-width: 20%;
    max-height: auto;
    border-radius: 5%;
  }

  #Title{
    font-family: 'Merienda';
  }
  
  .ingredients_btn{
    border:grey 2px solid;
    width: 8cm;
    margin-bottom: 1cm;
    background-color: white;
  }

  #mainIngredientDiv2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #howToMake_Div{
  flex: 80%;
   }
  #ingredients{
  flex:20%;
  }

  /*  / Search results  */

  
  /*--------------------------------------------------------*/

  
  /*  Footer  */

  footer{
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.637);
    width: 100%;
    flex-direction: column;
  }

  .socials{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10%;
  }
  .socials h3{
    font-family: 'Merienda';
  }

  .images{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  }

  .images img{
    width: 40px;
    
    height: 40px;
  }

  footer div{
  max-width: 35ch;
  }

  /*  /Footer */


  /*--------------------------------------------------------*/

    @media screen and (min-width: 768px) {
      footer{
        flex-direction: row;
      }
      .filterList li input{
        display: inline-block;
      }
      .flexDirection{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
      }
    }